page-show-bus-barcode {

    .qrcode {
        text-align: center;
    }
    .qrcode img {
        width: 60%;
    }

  ion-content {
    background-image: url('../assets/img/bus-img.jpg');
    background-position: left -20% bottom 5%;
    background-repeat: no-repeat;
    background-size: 145%;
  }
}
